@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}
.filter{
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
 z-index: 1;
 background: rgb(226, 170, 209);
background: -moz-linear-gradient(90deg, #f1d8cc 0%, #eedad0 100%);
background: -webkit-linear-gradient(90deg,#e6d0c6 0%,#cfc1bb 100%);
background: linear-gradient(90deg, #eedfd8 0%, rgb(228, 224, 230) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1",endColorstr="#c74ae9",GradientType=1);
opacity: .7;
}
table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 70%;
 transform: translate(-50%,-50%);
 width: 80%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(104, 98, 98, 0.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 10px 30px;
 text-align: center;
 
}

th
{
 background-color:  #bbcece;
 box-shadow: 0 2px 15px rgba(46, 43, 43, 0.7);
 text-transform: uppercase; 
    font-family: Segoe UI;
    font-size: 20px;   
    color: #022b10;
    font-weight: bold;
 }

tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #e7e0e0;
}







